{% extends "base.html" %}

{% block content %}

{% from "macros.html" import render_field %}
{% from "macros.html" import render_button %}
{% from "macros.html" import render_textarea %}

<div class = "container">


<div class = "spacer" > </div>

<ul class="nav nav-tabs">
    <li class="nav-item active" id="nav_inclauserator" onclick="tabs_control('inclauserator')">
        <a class="nav-link active" href="#">Inclauserator</a>
    </li>
    <li class="nav-item" id="nav_casewhenthenator" onclick="tabs_control('casewhenthenator')">
        <a class="nav-link" href="#">CaseWhenThenator</a>
    </li>
    <li class="nav-item" id="nav_insertor" onclick="tabs_control('insertor')">
        <a class="nav-link" href="#">Insertor</a>
    </li>
</ul>
<div id="tabs">
    <form method="POST">
    <div class="tab" id="inclauserator" style="visibility: visible">
         <p class="headr">Inclauserator converts excel column to SQL IN-clause list .</p>

        <div class="form-group row flex-v-center"  id="field_name">
                <div class = "container">
                    {{ render_field(form.inclause_field_name, placeholder=form.inclause_field_name.label.text) }}
                </div>
        </div>

        <div class="form-group row flex-v-center"  id="input_in">
            <div class = "container">
                {{ render_field(form.inclause_excel, placeholder=form.inclause_excel.label.text) }}
            </div>
        </div>

        <div class="form-group row flex-v-center"  id="submit_in">
                <div class = "container">
                    {{ render_button(form.inclause_submit) }}
                </div>
        </div>
    </div>
    </form>

    <form method="POST">
    <div class="tab" id="casewhenthenator" style="visibility: hidden">
         <p class="headr">CaseWhenThenator converts pasted tab-separated columns to Case clause</p>

        <div class="form-group row flex-v-center"  id="field_name">
                <div class = "container">
                    {{ render_field(form.case_when_then_pattern, placeholder=form.case_when_then_pattern.label.text) }}
                </div>
        </div>

        <div class="form-group row flex-v-center"  id="input_in">
            <div class = "container">
                {{ render_field(form.case_when_then_inclause_excel, placeholder=form.case_when_then_inclause_excel.label.text) }}
            </div>
        </div>

        <div class="form-group row flex-v-center"  id="field_name">
                <div class = "container">
                    {{ render_field(form.case_when_then_else, placeholder=form.case_when_then_else.label.text) }}
                </div>
        </div>

        <div class="form-group row flex-v-center"  id="submit_in">
                <div class = "container">
                    {{ render_button(form.case_when_then_submit) }}
                </div>
        </div>
    </div>
    </form>

    <form method="POST">
    <div class="tab" id="insertor" style="visibility: hidden">
         <p class="headr">Insertor converts data to create and insert into statement</p>

        <div class="form-group row flex-v-center"  id="field_name">
                <div class = "container">
                    {{ render_field(form.insertor_table_name, placeholder=form.insertor_table_name.label.text) }}
                </div>
        </div>

        <div class="form-group row flex-v-center"  id="input_in">
            <div class = "container">
                {{ render_field(form.insertor_excel, placeholder=form.insertor_excel.label.text) }}
            </div>
        </div>

        <div class="form-group row flex-v-center"  id="submit_in">
                <div class = "container">
                    {{ render_button(form.insertor_submit) }}
                </div>
        </div>
    </div>
    </form>
</div>
<script src="{{ url_for('static', filename = 'my_js.js') }}"></script>

</div>
{% endblock %}